.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  height: 60px;
  background: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #555;
}

.layout-container {
  flex: 1;
  margin: 20px;
  color: white;
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  color: white;
  border-radius: 8px;
  padding: 5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}